task2/server/carmarket.1.wsdl

<!--
 
(c) World Corp
2019-06-14
let you post/retrieve online message by SOAP protocol

Online WSDL 1.1 SOAP generator 0.2
Julien Blitte
 
-->
<definitions
	xmlns:tns="us.world_corp.my_soap_forum.wsdl"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd1="us.world_corp.my_soap_forum.xsd"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" name="let you post/retrieve online message by SOAP protocol" targetNamespace="us.world_corp.my_soap_forum.wsdl">
	<!--  definition of datatypes  -->
	<types>
		<xsd:schema
			xmlns="http://www.w3.org/2000/10/XMLSchema" targetNamespace="us.world_corp.my_soap_forum.xsd">
			
			<xsd:complexType name="itemListCars">
                                <xsd:all>
                                        <xsd:element name="id" type="xsd:int"/>
                                        <xsd:element name="brand" type="xsd:string"/>
                                        <xsd:element name="model" type="xsd:string"/>
                                        <xsd:element name="color" type="xsd:string"/>
                                </xsd:all>
                        </xsd:complexType>
			<xsd:complexType name="listCars">
				<xsd:sequence>
					<xsd:element name="elList" type="tns:itemListCars" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
				</xsd:sequence>
			</xsd:complexType>
                        
                        <xsd:complexType name="itemIhfoCars">
                                <xsd:all>
                                        <xsd:element name="id" type="xsd:int"/>
                                        <xsd:element name="value" type="xsd:int"/>
                                        <xsd:element name="speed" type="xsd:int"/>
                                        <xsd:element name="year" type="xsd:int"/>
                                        <xsd:element name="price" type="xsd:int"/>
                                        <xsd:element name="brand" type="xsd:string"/>
                                        <xsd:element name="model" type="xsd:string"/>
                                        <xsd:element name="color" type="xsd:string"/>
                                </xsd:all>
                        </xsd:complexType>
                        <xsd:complexType name="infoCar">
				<xsd:sequence>
					<xsd:element name="elInfoCars" type="tns:itemInfoCars" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
				</xsd:sequence>
			</xsd:complexType>
                        
                        <xsd:complexType name="itemlistOrders">
                                <xsd:all>
                                        <xsd:element name="id" type="xsd:int"/>
                                        <xsd:element name="name" type="xsd:string"/>
                                        <xsd:element name="surname" type="xsd:string"/>
										<xsd:element name="pay" type="xsd:string"/>
                                </xsd:all>
                        </xsd:complexType>
                        <xsd:complexType name="listOrders">
				<xsd:sequence>
					<xsd:element name="ellistOrders" type="tns:itemlistOrders" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
				</xsd:sequence>
			</xsd:complexType>

			<element name="idCar">
				<complexType>
					<all>
						<element name="value" type="int"/>
					</all>
				</complexType>
			</element>
			<element name="name">
				<complexType>
					<all>
						<element name="value" type="string"/>
					</all>
				</complexType>
			</element>
			<element name="surName">
				<complexType>
					<all>
						<element name="value" type="string"/>
					</all>
				</complexType>
			</element>
			<element name="pay">
				<complexType>
					<all>
						<element name="value" type="string"/>
					</all>
				</complexType>
			</element>
			<element name="result">
				<complexType>
					<all>
						<element name="value" type="string"/>
					</all>
				</complexType>
			</element>
                        <element name="volume">
				<complexType>
					<all>
						<element name="volume" type="int"/>
					</all>
				</complexType>
			</element>
                        <element name="speed">
				<complexType>
					<all>
						<element name="speed" type="int"/>
					</all>
				</complexType>
			</element>
                        <element name="year">
				<complexType>
					<all>
						<element name="year" type="int"/>
					</all>
				</complexType>
			</element>
                        <element name="price">
				<complexType>
					<all>
						<element name="price" type="int"/>
					</all>
				</complexType>
			</element>
                        <element name="brand">
				<complexType>
					<all>
						<element name="brand" type="string"/>
					</all>
				</complexType>
			</element>
                        <element name="model">
				<complexType>
					<all>
						<element name="model" type="string"/>
					</all>
				</complexType>
			</element>
                        <element name="color">
				<complexType>
					<all>
						<element name="color" type="string"/>
					</all>
				</complexType>
			</element>
			<element name="void">
				<complexType>
					<sequence/>
				</complexType>
			</element>
		</xsd:schema>
	</types>
	<!--  response messages  -->
	<message name="returns_listCars">
		<part name="listCars" type="xsd:listCars"/>
	</message>
	<message name="returns_infoCar">
		<part name="infoCar" type="xsd:infoCar"/>
	</message>
	<message name="returns_result">
		<part name="result" type="xsd:result"/>
	</message>
	<message name="returns_listOrders">
		<part name="listOrders" type="xsd:listOrders"/>
	</message>
	<!--  request messages  -->
	<message name="listCars">
		<part name="void" type="xsd:void"/>
	</message>
	<message name="getInfo">
		<part name="idCar" type="xsd:idCar"/>
	</message>
	<message name="findCars">
                <part name="volume" type="xsd:volume"/>
		<part name="speed" type="xsd:speed"/>
		<part name="year" type="xsd:year"/>
                <part name="price" type="xsd:price"/>
		<part name="brand" type="xsd:brand"/>
		<part name="model" type="xsd:model"/>
                <part name="color" type="xsd:color"/>
	</message>
	<message name="setOrder">
		<part name="idCar" type="xsd:idCar"/>
		<part name="name" type="xsd:name"/>
		<part name="surName" type="xsd:surName"/>
		<part name="pay" type="xsd:pay"/>
	</message>
	<message name="getOrders">
		<part name="void" type="xsd:void"/>
	</message>
	<!--  server's services  -->
	<portType name="my SOAP forum">
		<operation name="listCars">
			<input message="tns:listCars"/>
			<output message="tns:returns_listCars"/>
		</operation>
		<operation name="getInfo">
			<input message="tns:getInfo"/>
			<output message="tns:returns_infoCar"/>
		</operation>
		<operation name="findCars">
			<input message="tns:findCars"/>
			<output message="tns:returns_listCars"/>
		</operation>
		<operation name="setOrder">
			<input message="tns:setOrder"/>
			<output message="tns:returns_result"/>
		</operation>
		<operation name="getOrders">
			<input message="tns:getOrders"/>
			<output message="tns:returns_listOrders"/>
		</operation>
	</portType>
	<!--  server encoding  -->
	<binding name="my SOAP forum_webservices" type="tns:my SOAP forum">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="listCars">
			<soap:operation soapAction="urn:xmethods-delayed-quotes#listCars"/>
			<input>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getInfo">
			<soap:operation soapAction="urn:xmethods-delayed-quotes#getInfo"/>
			<input>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="findCars">
			<soap:operation soapAction="urn:xmethods-delayed-quotes#findCars"/>
			<input>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="setOrder">
			<soap:operation soapAction="urn:xmethods-delayed-quotes#setOrder"/>
			<input>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getOrders">
			<soap:operation soapAction="urn:xmethods-delayed-quotes#getOrders"/>
			<input>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<!--  access to service provider  -->
	<service name="exemple">
		<port name="exemple_0" binding="my SOAP forum_webservices">
			<soap:address location="http://tc.geeksforless.net/~user10/SOAP/task2/server/index.php"/>
		</port>
	</service>
</definitions>
